/** CSS STYLE **/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	line-height: 1.2em;
	font-family: "Neucha-Regular";
	font-style: normal;
	/*font-style, font-weight Нужно?*/
	font-weight: normal;
	line-height: 1.6em;
	color: var(--dark);
}



h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 34px;
}

:root {
	--white: #fff;
	--translucent-white: #d7ccc0;
	--light-coloured: #f5f4f0;
	--main-color: #fe8a02;
	--main-dark: #42413c;
	--dark: #2a2626;
	--translucent-dark: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;
}

p {
	font-family: "OpenSans";
	font-size: 16px;
}

a {
	text-decoration: none;
}

.button-style:hover {
	background: #EA7600;
}

.button-style-header:hover {
	background-color: #EA7600;
}

.nav-button:hover {
	background-color: #FE8A02;
	color: white;
}

.nav-button:hover h3 {
	cursor: pointer;
	color: white;
}

.nav-button:hover p {
	cursor: pointer;
	color: white;
}

.margin-left {
	margin-left: 30px;
}

.margin-header-text {
	margin-top: 140px;
}

.margin-main-text {
	margin-top: 25px;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.sec-padding-bottom {
	padding-bottom: 100px;

}

.sec-relative {
	position: relative;
}

.flex-header {
	display: flex;
}

.header-title-block {
	max-width: 635px;
	width: 635px;
	height: 342px;
	margin-top: 121px;
	z-index: 100;
}

.youtube-title-block {
	margin: 0 auto;
	max-width: 800px;
	width: 800px;
	height: max-content;
	margin-top: 100px;
}

.nav-title {
	max-width: 350px;
	min-height: 340px;
}

.cards {
	/* flex: 1; */
	max-width: 350px;
	min-height: 340px;
	/* flex-basis: 350px;
	flex-shrink: 0; */
	margin-bottom: 20px;
	padding: 25px;

}

.flex-cards {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

.padding-top-cards {
	padding-top: 200px;
}

.Petrovna-margin {
	margin-top: 35px;
	margin-bottom: 35px;
}

.header-img-block {
	position: absolute;
	margin-left: 250px;
	margin-top: 55px;
	width: 1082px;
}

.header-img-size {
	width: 1155px;
	height: 525px;
	object-fit: cover;
}

.left-main-img {
	padding-top: 100px;
	z-index: 1;
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.right-main-img {
	z-index: 1;
	margin-top: 100px;
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


.right-main-text {
	max-width: 543px;
	width: 635px;
	height: 342px;
	margin-top: 100px;
	margin-left: 30px;
	left: 615px;
}

.left-main-text {
	width: 635px;
	max-width: 543px;
	height: 342px;
	margin-top: 100px;
	margin-right: 30px;
}

.flex-pages {
	display: flex;
	justify-content: start;
}

.flex-pages-reverse {
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.subtitle-cognitive {
	font-family: "Neucha-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 120%;
}



.page-title-black {
	font-family: "Neucha-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 110%;
}

.page-title-white {
	font-family: "Neucha-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 110%;
	color: white;
}

.main-text-page {
	font-family: "Neucha-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 120%;
	margin-top: 20px;
}

.horizontal-block-text {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 8px;
}

.horizontal-block-brown {
	height: 30px;
	background: #B09A81;
	margin-top: 100px;
}

.horizontal-block-white {
	height: 30px;
	background: white;
	margin-top: 100px;
}

.flex-main-text {
	display: flex;
	justify-content: start;
}


.main-font {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
}

.youtube {
	position: relative;
	margin-bottom: -100px;
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.youtube-sec-center {
	text-align: center;
}

.main-text-div {
	width: 535px;
	max-height: 130px;
}


.button-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-top: 38px;
	margin-left: 176px;
}

.button-style-header {
	border: none;
	background: #FE8A02;
	padding: 11px 24px;
	font-family: "OpenSans";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 160%;
	text-transform: uppercase;
	color: #FFFFFF;
}

.bg-img:before {
	content: "";
	background-image: url(/images/background.png);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 10%;
}

.number-card {
	font-family: "Neucha-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 70px;
	padding-bottom: 25px;
	color: #42413C;
}


.form-group {
	position: relative;
	display: inline-block;
	width: 1110px;
	height: 196px;
	background: #42413C;
	margin-top: 100px;
	line-height: 196px;
}


.form-text {
	font-family: "Neucha-regular";
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 120%;
	color: white;
	left: 65px;
	height: 98px;
	margin: -45px 0 0;
	position: absolute;
	top: 65%;
	z-index: 1;
}

.placeholder1 {
	position: absolute;
	display: block;
	width: 394px;
	height: 48px;
	padding: 15px;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 160%;
}

.button-style {
	width: 72px;
	height: 48px;
	background: #FE8A02;
	position: absolute;
	top: 74px;
	right: 81px;
	z-index: 9;
	outline: none;
	border: none;
	display: inline-block;
	overflow: visible;
	padding: 0;
	cursor: pointer;
}

.your-email-text {
	position: absolute;
	left: 636px;
	top: -40px;
	color: white;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}

.service-rules-text {
	position: absolute;
	left: 636px;
	top: 125px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 160%;
	/* or 19px */
	color: #FFFFFF;
}

.service-rules-link {
	color: white;
	/* Цвет ссылок */
	text-decoration: underline;
}

.button-style::before {
	content: "";
	background-image: url(/images/send.svg);
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-footer {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-footer p {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	color: #000000;
	margin-bottom: 20px;
}

.l-heigh-120 {
	line-height: 120%;
}

.f-size-52 {
	font-size: 52px;
}

.dark-color {
	color: var(--dark);
}

.white-color {
	color: white;
}

.gray-color {
	color: #908D8B;
}

.black-color {
	color: #2A2626;
}

.main-orange-color {
	color: var(--main-color);
}

.bg-light {
	background-color: var(--light-coloured);
}

.bg-light-brown {
	background-color: #B09A81;
}

.bg-black {
	background-color: #333;
}

.bg-white {
	background: #F5F4F0;
}