/** CSS STYLE **/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

section {

	/* мог использовать margin: 0 auto? */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0px;
	flex-basis: 1110px;
}


h1,
h2,
h3 {
	line-height: 1.2em;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 34px;
}

.bg {
	position: relative;
}

.bg:before {
	content: '';
	background-image: url(/images/background.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 1440px;
	height: 1005px;
	opacity: 90%;
}
